
.fin{
   display: flex;
   background-color: black;

}
.conteuneur2{
    display: flex;
    align-items: center;
    gap: 100px;

    width: 182%;

 }

 .findepage{
    margin-top: -178px;
    display: flex;
    margin-left: 94rem;
    gap:45px;
 }
 .photof{
    background-image: url(../images/d18a04d1cdf81cf3ad510423d15fc454.png);
    padding: 141px;
    margin-left: 4rem;

    width: 44rem;
    background-repeat: no-repeat;
    background-position: center;
 }
 .droite{
    padding-left: 14rem;
 }